header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: solid black 1px;
  background-color:white;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.leftside {
  display: flex;
  border: solid black 1px;
  margin-left: 10px;
  align-items: center;

}

.leftside span {
  color: MediumAquamarine;
  padding-bottom: 0px;
  align-items: center;
}

img {
  padding-top: 10px;
  flex-direction:column;

}

nav {
  padding: 0px 40px;
}

span {
  display: inline-block;
  padding: 20px 20px;
}

span a {
  color: black;
}

.column .large {
  width: 630px;
  border: 1px solid black;
}

.column {
display: flex;
flex-direction: column wrap;
justify-content: flex-end;
padding: 100px, 20px, 10px, 20px;

}
.column .medium {
  width: 300px;
  border: 1px solid black;
}

.column .small {
  width: 240px;
  border: 1px solid black;
}
