header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: solid black 1px;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;


}

div .leftside {
  align-items: center;

}

.leftside span {
  color: MediumAquamarine;

}


img {

}

nav {
  padding: 0px 40px;
}

span {
  display: inline-block;
  padding: 20px 20px;
}

span a {
  color: black;
}
